.game-card {
    padding: 20px;
    border: 1px solid;
    width: 400px;
    background-color: #fff;
}
.game-card .head {
    display: flex;
    padding-left: 10px;
    justify-content: space-between;
}
.team-conference {
    padding: 20px 10px;
}
.select-team-section {
    padding: 20px;
}

.select-team {
    height: 40px;
    width: 190px;
    font-size: 16px;
}

.back-btn {
    height: 40px;
    font-size: 16px;
    padding: 0 10px;
    margin-left: 5px;
    background-color: rgb(4, 192, 4);
    color: #fff;
    cursor: pointer;
}

.score-list, .game-desc p {
    padding: 10px 10px;
}