<div class="select-team-section">
    <select name="team" id="teamInput" class="select-team" [(ngModel)]="selectedTeam">
        <option *ngFor="let team of teams" [ngValue]="team">
            {{team.full_name}}
        </option>
    </select>
    <input type="button" value="Track team" class="track-team-btn" id="trackBtn" (click)="trackTeam()">
</div>

<div class="games-card">
    <div class="game-card" *ngFor="let team of gamesCard; let i=index;">
        <div class="head">
            <h3 class="team-head">{{team.full_name}} [{{team.abbreviation}}]</h3>
            <div class="cross-icon" role="button" [id]="'remove'+team.abbreviation" (click)="removeCard(i)">x</div>
        </div>
        <div class="team-conference">
            <h5>{{team.conference}}ern conference</h5>
        </div>
        <hr>
        <div class="game-desc">
            <div class="game-info">
                <p>Results of past 12 days:</p>
                <div class="game-results">
                    <span *ngFor="let res of team.my_scores; let i=index"
                    [ngClass]="res < team.opponent_scores[i] ? 'loss': 'win'">
                    {{res < team.opponent_scores[i] ? 'L' : 'W'}}
                    </span>
                </div>
                <div class="avg-score">Avg pts scored: {{team.averageScored}}</div>
                <div class="avg-conceded">Avg pts conceded: {{team.averageConceded}}</div>
            </div>
            <div class="team-pic">
                <img height="150" width="150" [src]="team.image" [alt]="team.image">
            </div>
        </div>
        <input type="button" [routerLink]="'results/'+team.id" (click)="saveTeamsGame()" 
        value="See game results > >" class="see-results" [id]="'results'+team.abbreviation">
    </div>
</div>